<!-- <div class="form-group col-6 col-sm-4" style="align-items: center;" >
    <link rel="stylesheet" href="cliente-incluir.component.css"> -->
    <form #form="ngForm" (ngSubmit)="salvar(form)">

                <div class="form-floating">
                    <textarea class="form-control" 
                        placeholder="Nome" 
                        id="Nome"
                        [(ngModel)]="cliente.nome">
                    </textarea>
                    <label for="Nome"></label>

                    <textarea class="form-control" placeholder="Telefone" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea"></label>

                    <textarea class="form-control" placeholder="E-mail" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea"></label>

                </div>
                
        
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Cliente Ativo</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">Cliente Inativo</label>
                </div>
                
                    <button class="button" type="submit">Cadastre</button>
                
    </form>
<!-- </div> -->
