<!-- <div class="card">
    <h1>Incluir Cliente</h1>
    <form #form="ngForm" (ngSubmit)="salvar(form)">
        <div class="fluid formgrid grid">
            <div class="field col-6 md-6">
                <label for="cpf">Nome</label>
                <input required id="cpf" name="cpf" [(ngModel)]="cliente.nome" type="text">
            </div>
            <div class="field col-6 md-6">
                <label for="email">E-mail</label>
                <input required id="email" name="email" [(ngModel)]="cliente.email" type="text">
            </div>
            <div class="field col-6">
                <label for="telefone">Telefone</label>
                <input  id="telefone" name="telefone" [(ngModel)]="cliente.telefone" type="text">
            </div>
            <div class="field col-6 md-6">
                <label for="status">Status</label>
                <input id="status" name="status" [(ngModel)]="cliente.status" type="text">
            </div>
            <div class="col-12 md-12">
                <button class="button" type="submit">Purchase</button>
            </div>
        </div>
    </form>
</div> -->
{{ cliente | json }}
<div class="form-group col-6 col-sm-4" style="align-items: center;" >

    <form #form="ngForm" (ngSubmit)="salvar(form)">

        <div>
            <label for="nome">Nome</label>
            <input
                type="text"
                class="form-control" id="nome"
                required
                [(ngModel)]="cliente.nome"
                name="nome">
        </div>

        <div>
            <label for="email">E-mail</label>
            <input
                type="text"
                class="form-control" id="email"
                required
                [(ngModel)]="cliente.email"
                name="email">
        </div>

        <div>
            <label for="telefone">Telefone</label>
            <input
                type="text"
                class="form-control" id="telefone"
                required
                [(ngModel)]="cliente.telefone"
                name="telefone">
        </div>

        <div>
            <label for="status">Status</label>
            <input
                type="checkbox"
                class="form-control" id="status"
                required
                [(ngModel)]="cliente.status"
                name="status">
        </div>

        <div>
            <button class="button" type="submit">Salvar</button>
        </div>
    </form>
</div>

<!-- <div class="form-group">
  <label for="power">Hero Power</label>
  <select class="form-control"  id="power"
          required
          [(ngModel)]="model.power" name="power">
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
</div> -->
