<form #form="ngForm" (ngSubmit)="salvar(form)">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input
            class="form-control"
            required
            id="nome"
            name="nome"
            type="text"
            placeholder="Insira o nome"
            [(ngModel)]="cliente.nome"
            aria-describedby="nomeAjuda">
        <small id="nomeAjuda" class="form-text text-muted">Insira seu nome completo</small>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input
            class="form-control"
            required
            id="telefone"
            name="telefone"
            type="text"
            placeholder="Insira o telefone"
            [(ngModel)]="cliente.telefone"
            aria-describedby="nomeTelefone">
        <small id="nomeTelefone" class="form-text text-muted">Exemplo (34) 9.9999-9999</small>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input
            class="form-control"
            required
            id="email"
            name="email"
            type="text"
            placeholder="Insira o email"
            [(ngModel)]="cliente.email"
            aria-describedby="nomeEmail">
        <small id="nomeEmail" class="form-text text-muted">Insira email@email.com</small>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        required
        type="checkbox"
        id="status"
        name="nome"
        [(ngModel)]="cliente.status">
      <label class="form-check-label" for="status">Ativo/Inativo</label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

    <div class="row"  *ngIf="showMsgSucesso">
        <div class="col-xs-12">
            <p class="alert alert-success">
                <strong>Cliente incluido!</strong>
            </p>
        </div>
    </div>
    <div class="row"  *ngIf="showMsgErro">
        <div class="col-xs-12">
            <p class="alert alert-danger">
                <strong>Erro ao incluir cliente!</strong>
            </p>
        </div>
    </div>
</form>
